.mainContainer{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    flex-flow: column;
    width: 90%;
    margin: 2%;
    align-items: center;   
}

.qrCode{
    display:flex;
    flex-flow: column;
}
